body {

    min-height: 100vh;
    background-color: black;
    color: white;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /* disable touch panning/zooming */
    -ms-touch-action: none;
    touch-action: none;

    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game {
    position: relative;
}

#game > canvas {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#controls {
    position: fixed;
}